.contacts-component {
    padding: 10px;
    animation: 0.5s fade-appear;
    margin: 10px;
}

.addContact {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
    color: rgb(27, 24, 24);

}

@keyframes fade-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}